SNOWFLAKE_USER = Your_Username
SNOWFLAKE_PASSWORD = Your_Password
SNOWFLAKE_ACCOUNT = Your_Account
SNOWFLAKE_WAREHOUSE = Your_Warehouse
SNOWFLAKE_DATABASE = Your_Database
SNOWFLAKE_SCHEMA = Your_Schema
MONGO_URI = mongodb+srv://your_user:your_password@cluster0.xxxxx.mongodb.net/?appName=Cluster0